<!DOCTYPE html>
<html>

<head>
</head>


<body>
	<h2>Location</h2>
	<form action={{url_for('location')}} method='POST'>
		<input type='radio' name='location' value='North'> North <br><br>
		<input type='radio' name='location' value='East'> East <br><br>
		<input type='radio' name='location' value='South'> South <br><br>
		<input type='radio' name='location' value='West'> West <br><br>
		
		<br><br>
		
		<input type='submit' name='submit' value='submit'>
	</form>
</body>


</html>
