<!-- display a list of available flights -->
{% extends "layout.html" %} 

{% block title %} Flights Info{% endblock %} 

{% block body %} 
	<h1> All Flights </h1> 
	<ul> 
	{% for data in all_data %} 
		<a href= "{{ url_for('check1', flight_id=data[0]) }}"> 
			<li> {{ data[1] }} to {{ data[2] }} </li> 
		</a>
	{% endfor %} 
	</ul>
		
	<h2>Passengers</h2>
	<ul> 
		{% for passenger in passengers %} 
			<li>{{ passenger[0] }}</li> 
		{% else %} 
			<li>No passenger.</li> 
		{% endfor %} 
	</ul>
{% endblock %}