{% extends 'layout.html' %}

{% block title %}
    Payment
{% endblock %}

{% block body %}

<h1>Payment for tuition fees</h1>

<h2>Your outstanding fees: ${{fees}}</h2>


<fieldset>
    <form action="{{url_for('validate_payment')}}" method="POST">
        NRIC: <input type="text" name="nric"><br><br>
        Password: <input type="password" name="password"><br><br>
        
        Pay by: <br><br>
        <input type="radio" name="payment" value="cash">Cash / Cheque
        <input type="radio" name="payment" value="dbs">DBS / POSB
        <input type="radio" name="payment" value="credit">Credit Card
        <br><br>

        <input type="submit" name="submit" value="submit">
    </form>
</fieldset>


{% endblock %}